.header {
  text-align: center;
  margin: o auto;
}
.logo {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-radius: 2px;
}
.login {
  overflow: hidden;
}

.canvasWrap {
  padding: 0 !important;
  line-height: 0 !important;
}
.modal {
  display: flex !important;
  justify-content: center;
  align-items: center;

  > div {
    > div {
      border: 0 !important;
    }
  }
}
